* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
@font-face {
  font-family: 'Bernard MT Condensed';
  src: local('Bernard MT Condensed'), url('path-to-font/BernardMTCondensed.woff2') format('woff2'),
       url('path-to-font/BernardMTCondensed.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
.discover {
  font-family: 'Bernard MT Condensed', sans-serif;
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 7rem;
  font-weight: 300;
  color: #F5F5F5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.who {
  font-family: 'Bernard MT Condensed', sans-serif;
  position: absolute;
  top: 36%;
  left: 30%;
  font-size: 5rem;
  font-weight: 300;
  color: #F5F5F5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.you {
  font-family: 'Bernard MT Condensed', sans-serif;
  position: absolute;
  bottom: 37%;
  right: 30%;
  font-size: 5rem;
  font-weight: 300;
  color: #F5F5F5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.are {
  font-family: 'Bernard MT Condensed', sans-serif;
  position: absolute;
  bottom: 21%;
  right: 27%;
  font-size: 7rem;
  font-weight: 300;
  color: #F5F5F5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.text-overlay span {
  opacity: 1; /* Visible initially */
  transform: translateY(0); /* No initial movement */
  transition: all 0.5s ease; /* Fallback for browsers without GSAP */
}

main {
  display: flex;
  flex-direction: column; /* Les sections se superposent verticalement */
  height: auto;
  overflow-x: hidden; /* Pas de défilement horizontal */
}


#startTest {
  background: #fff;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  pointer-events: auto;
}

#testContainer {
  background: #ffffff;
  color: #5656bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Plein écran */
}

#resultsContainer {
  background: #5656bf;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Plein écran */
}


header {    
  margin: 0;
  padding: 10px 0; /* Adjust padding as needed */
  background: #030080;
  color: #f4efe3; /* Beige crème pour le texte */
}


h1 {
  margin: 10px; /* Adds space around the <h1> */
  font-size: 6rem;
  color: #f4efe3; /* Bleu lavande foncé pour les titres */
  font-family: 'Bernard MT Condensed', sans-serif;
  text-align: center;
}

h2 {
  margin: 0 auto; /* Centre horizontalement */
  padding: 10px 20px;
  font-size: 1.5rem;
  font-family: 'Bernard MT Condensed', sans-serif;
  color: #fff;
  background-color: #5656bf;
  border: 2px solid #5656bf;
  border-radius: 18px;
  display: inline-block;
  text-align: center; /* Centre le texte à l'intérieur du rectangle */
}
h3 {
  margin: 0 auto; /* Centre horizontalement */
  padding: 10px 20px;
  font-family: 'Bernard MT Condensed', sans-serif;
  font-size: 1.5rem;
  color: #5656bf;
  border-radius: 18px;
  display: inline-block;
  text-align: center; /* Centre le texte à l'intérieur du rectangle */
}

p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #f4efe3;
}

button {
  padding: 12px 25px;
  background-color: #30aca3; /* Vert turquoise pour les boutons */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Bernard MT Condensed', sans-serif;
  border-radius: 5px;
  margin-top: 150px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218f8a; /* Assombrissement pour l'effet hover */
}

button:disabled {
  background-color: #c9cdd7; /* Gris clair bleuté pour les boutons désactivés */
  cursor: not-allowed;
}

main #testContainer h3 {
  font-size: 2rem;
  color: #5656bf; /* Dark lavender blue for heading */
  margin-bottom: 20px; /* Space below the heading */
}
#footTest {
  margin-top: 13px; /* Space above the footer */
  text-align: center; /* Center-align button in footer */
}

#back-btn {
  background-color: #30aca3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px; /* Adjust this value to control how far down it appears */
  margin-left: 20px; /* Adds some space from the left side */
  position: absolute; /* Ensures it stays in a fixed position */
}


#back-btn:hover {
  background-color: #218f8a;
}

.image-selection {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 0 10px;
}

.image-selection img {
  width: 30%;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-selection img:hover {
  transform: scale(1.05);
}

.image-selection img.selected {
  border-color: #5656bf; /* Bleu lavande foncé pour les images sélectionnées */
  transform: scale(1.1);
}

footer {
  padding: 20px;
  background: #030080;
  color: #f4efe3;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  text-align: center; /* Center-align button in footer */
}

#progressContainer {
  width: 100%;
  height: 20px;
  background-color: #c9cdd7; /* Gris clair bleuté pour le fond de la barre de progression */
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

#progressBar {
  width: 0;
  height: 100%;
  background-color: #5656bf; /* Vert turquoise pour la progression */
  transition: width 0.3s ease;
}



/* Make the results page responsive */
@media (max-width: 768px) {
  main #resultsContainer {
      width: 95%;
      padding: 20px;
  }

  main #resultsContainer h2 {
      font-size: 2rem;
  }

  main #resultsContainer ul li {
      font-size: 1.2rem;
      flex-direction: column;
      align-items: flex-start;
  }

  main #resultsContainer ul li span {
      margin-top: 10px;
  }

  main #restartTestBtn {
      width: 100%;
      padding: 15px;
      pointer-events: auto;
  }
} 



main #resultsContainer h2 {
  font-size: 2.5rem;
  color: #fff; /* Bleu lavande foncé pour les titres de résultats */
  margin-bottom: 20px;
}

main #resultsContainer p {
  font-size: 1.2rem;
  color: #5656bf;
  margin-bottom: 20px;
}

main #resultsContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

main #resultsContainer ul li {
  font-size: 1rem;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c9cdd7;
}

main #resultsContainer ul li span {
  font-weight: bold;
  color: #0400d8; /* Bleu profond pour les scores */
}

main #resultsContainer ul li span:nth-child(2) {
  color: #30aca3; /* Vert turquoise pour la description */
  font-weight: normal;
  font-size: 1.2rem;
  text-align: right;
}


/* Liste horizontale avec nowrap */
.horizontal-container {
  display: flex;
  flex-wrap: nowrap; /* Forcer tout sur une seule ligne */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style des éléments de la liste */
.horizontal-container li {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px; /* Largeur minimale pour chaque élément */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Styles pour le contenu des éléments */
.horizontal-container li span:first-child {
  font-weight: bold;
  color: #2725b4;
}

.horizontal-container li span:nth-child(2) {
  color: #30aca3;
  font-size: 1.1rem;
  margin-top: 10px;
}

/* Style pour le bouton de redémarrage */
main #restartTestBtn {
  background-color: #30aca3;
  padding: 12px 30px;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

main #restartTestBtn:hover {
  background-color: #218f8a;
}

main #resultsContainer .interactive-word {
  color: #479ef5!important; /* Forcer la couleur */
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

main #resultsContainer .interactive-word:hover {
  color: #8407aa  !important; /* Couleur différente au survol */
}

main #resultsContainer.interactive-word:hover + #rating-bar, #rating-bar:hover {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1)
}

main #rating-bar {
  display: flex;
  position: absolute;
  height: 50px;   
  background-color: #5656bf;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

main #rating-bar.active {
  opacity: 1 !important;
  visibility: visible !important;
}

.hidden {
  display: none !important;
}

main #slider {
  flex-grow: 1;
  width: 90px;
  margin: 5px;
  cursor: pointer;
  display: block; /* S'assure qu'il est visible */
}

main #slider:hover {
  background: #bbb;
}

.emoji {
  font-size: 20px;
  margin: 0px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.emoji.active {
  opacity: 1;
}

.rating_list {
  display: flex;
  flex-wrap: nowrap; /* Forcer tout sur une seule ligne */
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-self: center
}
